%h5 Notifo Alerts
%p<
  Send an alert to your mobile when particular conditions are met on your datastreams.

- if flash[:notice]
  %div{:class => "notice"}
    = flash[:notice]

%form{:method => "post", :action => "/users/register"}
  %input{:name => "username", :type => "text"}
  %input{:type => "submit", :value => "Register"}
