%h1 Registration successful

%p 
  Your username has been registered successfully.

%p
  Now you should be able to create triggers pointing to this url: 
  http://apps.pachube.com/notifo?username=bob
